<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= label_tag :role %>
    <%= select_tag "user[role_ids]", options_from_collection_for_select(@roles, "id", "role_type", @user.roles.ids), multiple: true %>
  </div>

  <div class="field">
    <%= f.fields_for :user_metas do |user_meta| %>
      <%= render 'user_meta_fields', :f => user_meta %>
    <% end %>
    <p><%= link_to_add_association 'Add a User Meta', f, :user_metas %></p>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
